<p id="notice"><%= notice %></p>

<p>
  <strong>Common name:</strong>
  <%= @creature.common_name %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @creature.scientific_name %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @creature.photos %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @creature.notes %>
</p>

<%= link_to 'Edit', edit_creature_path(@creature) %> |
<%= link_to 'Back', creatures_path %>
