<!DOCTYPE html>
<html>
<head>
  <title>Noesark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="auth">

<% if user_signed_in? %>
 Logged in as <strong><%= current_user.email %></strong>.
 <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
 <%= link_to "Login", new_user_session_path %>
 <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
<% end %>
</div>

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p></p>
</body>
</html>
