<!DOCTYPE html>
<html>
<head>
  <title>Noesark</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header', title: "Example App" %>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p></p>
</body>
</html>
